# This is a config file sample

[options]
docker_in_docker = false    # Share docker socket
forward_x11 = false         # Configure x11 forward

[workspace]
image = "ubuntu:22.04"  # OCI System Image
tools = []              # Nix tools
user = "user"           # Username inside container
hostname = "kitt"       # Container hostname
default_shell = "bash"  # One of bash, zsh, sh, dash
# paths = []              # Additional folders in $PATH

# [[workspace.envs]]  # Container exported ENV (multiple)
# name = ""
# value = ""

# [[workspace.volumes]]   # Container bind volumes (multiple)
# host = ""   # Local directory
# bind = ""   # Bin inside container
# mode = ""   # Mode (default is 'rw')

# Secrets are static encrypted files or exported variables
# stored inside the container image.
# Be very careful with secrets as they might becore
# public if your password leaks or isn't strong enough.
# [secrets]
# [[secrets.files]]   # File entry (multiple)
# src = ""                    # Host path
# dest = ""                   # Container path
# [[secrets.envs]]   # Env variable (multiple)
# name = ""                   # Variable name
# value = ""                  # Secret value

# Plugins are optional additional
# features for container customisations.
# See plugins.py for further informations
# Plugin order is respected during build procedure.
[plugins]

    # ==== PIP ==== #

    # [plugins.pip]
    # packages = []
    # extra_indexes = []

    # ===== ZSH ===== #

    # [plugins.zsh]
    # theme = "afowler"
    # plugins = []    # Plugins name or link
    # extras = []     # Extra line for .zshrc

    # # Add zsh aliases (multiple)
    # [[plugins.zsh.aliases]]
    # name = ""
    # cmd = ""

    # ===== COPY ===== #

    # [plugins.copy]    # Copy local file / directory
    #
    # [[plugins.copy.files]]   # File / directory entry (multiple)
    # src = ""                 # Host path
    # dest = ""                # Container path
    # chown = ""               # (Optional) change owner, set ${USER} for container user

    # ===== DOWNLOAD ===== #

    # [plugins.download]    # Download ressource from URL
    #
    # [[plugins.download.ressources]]   # Ressource to download (multiple)
    # url = ""                          # Ressource public URL
    # target = ""                       # Target container path for download

    # ===== GIT CLONE ===== #

    # [plugins.git]    # Clone git repostory
    #
    # [[plugins.git.repos]]   # Ressource to download (multiple)
    # url = ""                # Repository URL
    # target = ""             # Target clone directory in container
