# NixOS for pentensting effort discussion : https://github.com/NixOS/nixpkgs/issues/81418

[options]
forward_x11 = true

[workspace]
user = "john"
hostname = "pentest"
default_shell = "zsh"
image = "ubuntu:22.04"
tools = [
    "burpsuite",
    "crackmapexec",
    "curl",
    "dig",
    "dnsrecon",
    "enum4linux-ng",
    "exiftool",
    "exploitdb", # can lead to dep missing : https://github.com/NixOS/nixpkgs/issues/195956
    "fcrackzip",
    "ffuf",
    "file",
    "foremost",
    "git",
    "gobuster",
    "hashcat",
    "iproute2",
    "iputils",
    "john",
    "libfaketime",
    "metasploit",
    "mysql-shell",
    "netcat",
    "netdiscover",
    "ngrok",
    "nikto",
    "nmap",
    "pwntools",
    "python310Full",
    "python310Packages.angr",
    "python310Packages.pip",
    "radare2",
    "sherlock",
    "sqlite-utils",
    "sqlmap",
    "ssss",
    "subfinder",
    "thc-hydra",
    "tree",
    "tshark",
    "vim",
    "volatility3",
    "wget",
    "wpscan",
    "_0x",# xxd with colors
]

[[workspace.volumes]]
host = "/tmp/kitt"
bind = "/tmp/host"
mode = "rw"

[[workspace.volumes]]
host = "$HOME"
bind = "/home/john/host"
mode = "ro"

[[workspace.envs]]
name = "TIMER_FORMAT"
value = "[%d]"

[[workspace.envs]]
name = "TIMER_PRECISION"
value = "2"

[secrets]
[[secrets.envs]]
name = "NGROK_AUTHTOKEN"
value = ""

[plugins]

    [plugins.pip]
    packages = [
        "dirsearch" # Missing in NisOS DB
    ]

    [plugins.zsh]
    theme = "afowler"
    plugins = [ 
        "git",
        "pip",
        "python",
        "timer",
        "urltools",
        "https://github.com/agkozak/zsh-z",
    ]

    [[plugins.zsh.aliases]]
    name = "xxd"
    cmd = "0x"

    [[plugins.zsh.aliases]]
    name = "serve"
    cmd = "python -m http.server"

    [[plugins.zsh.aliases]]
    name = "reload"
    cmd = "source ~/.zshrc"

    [[plugins.zsh.aliases]]
    name = "h"
    cmd = "history"

    [[plugins.zsh.aliases]]
    name = "hs"
    cmd = "history | grep -i"

    [[plugins.zsh.aliases]]
    name = "ff"
    cmd = "find . -type f -name"

    [[plugins.zsh.aliases]]
    name = "x"
    cmd = "xclip -sel clip"

    [[plugins.zsh.aliases]]
    name = "ll"
    cmd = "ls -lh"

    [[plugins.zsh.aliases]]
    name = "lla"
    cmd = "ls -lAh"

    [[plugins.zsh.aliases]]
    name = "duh"
    cmd = "du -h -d 1"
